<%= form_with(model: library) do |form| %>
  <% if library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(library.errors.count, "error") %> prohibited this library from being saved:</h2>

      <ul>
        <% library.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :opening_time %>
    <%= form.time_select :opening_time %>
  </div>

  <div class="field">
    <%= form.label :closing_time %>
    <%= form.time_select :closing_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
